<?xml version="1.0" encoding="UTF-8"?>
    <widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id = "com.sheamuspy.barcode_scanner"
        versioncode = "11"
        version = "1.0.0">
        <!-- versionCode is optional and Android only -->
        <name>Barcode Scanner</name>
        <description>
          Barcode Scanner
        </description>
        <author href="http://www.ashesi.edu.gh" email="sheamuspy@gmail.com">
          Sheamus Punch Yebisi
        </author>
        <gap:plugin name="net.roughshod.plugins.barcodescanner" version="3.0.0" />
  </widget>
